streamlit
groq
google-generativeai
edge-tts
fpdf2
python-dotenv
openai
PyPDF2
pyvis
gTTS
huggingface_hub
pdfplumber
pypdfium2
Pillow
numpy
pandas
matplotlib
networkx
pydantic
altair
lxml
beautifulsoup4
requests
aiohttp
pyarrow
